@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    font-family: 'Raleway', sans-serif;}



    .nav-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin:0;
        padding:0;
        background-color: white;
        list-style-type: none;
        position:fixed;
        top:0;
        opacity: 0.8;
        
    
       
    
    }
    
    .nav-item{
        padding: 15px;
        cursor: pointer;
    }
    
    .nav-item a{
        text-align: center;
        text-decoration: none;
        color: rgb(46, 45, 45);
        display: center;
        font-size: 100%;
      
    }
    
    .nav-item:nth-child(1){
        background-color: rgb(211, 211, 211);
    }
    
    .nav-item:hover{
        
        background-color: rgb(211, 211, 211);
        
    }
    
    .h-item:hover{
        background-color: black;
    }
    
    header{
        margin-top: 80px;
        font-size: 200%;
        color: white;
        }
        
            