* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;	
}
header{
    margin:2em;
}


 body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #59331D;
    margin-top:2rem;
}  


body{
    background-color: #8C857D;
    margin:0;
    line-height: 1.4;
}

.box{
 width: 50%;
 padding:15px;
 margin:10rem auto;
 border: 3px solid #59331D;;
 font-family: 'Roboto', sans-serif;
 font-size: 1rem;


}
.p{
    line-height:30px;

   
}