*{
margin:0;
padding:0;
}

.nav-container{
  display:flex;
  flex-direction: row;
  width:100%;
  margin:0;
  padding:0;
  /* background-color: #282828; */
  list-style-type:none;
  position:fixed;
  top:0;

}
.nav-item{
  padding:15px;
  cursor:pointer;
 
}
.nav-item a{
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  font-size: 1em;
  font-family: 'Acme', sans-serif;
}

body{
    background: rgb(231, 231, 231);
    font-family: 'Anton', sans-serif;
}


header{
    background: black;
    padding: 1em 0;  
}

h1{
    text-align: center;
    background:red;
    color: white;
    padding: .5em;
    margin:0;
    font-family: 'Ranchers', cursive;
  

}

h2{
    text-align: center;
    background:blue;
    padding:.5em;
    margin:0;
    font-family: 'Ranchers', cursive;
    color: white;
    
}
h3{
    background: yellow;
    padding: 1em;
    color:gray;
  
}

main{
    width:90vw;
    margin:0 auto;
}

section{
    margin: 2em 0;
    background: orange;
    color: white;
    
}

p{
  padding:1em;
  font-size:20px;

}
footer{
    text-align: center;
    background: green;
    color: white;
}