
  
  body {
    margin: 0 auto;
    width: min(1000px, calc(70% + 100px));
    font-family: 'Nerko One', cursive;
    
  }
  
  h1 {
    letter-spacing: 2px;
    font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  }
  
  p {
    line-height: 1.5;
    font-size: max(1.2rem, 1.2vw);
  }

  @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
