h2::after {
    content: url(https://media2.giphy.com/media/26gsjCZpPolPr3sBy/200w.webp?cid=ecf05e474tzetvk8dxc61uyauur0gfrutzj6luf604jvgpxm&rid=200w.webp
    );
  }

  h2::before {
    content: url(
    https://media0.giphy.com/media/fTI9mBoWLef8k/200w.webp?cid=ecf05e47spee0iigxqb5f5ll877zetm7025hbr8pcvpn7jrm&rid=200w.webp 
    );
  }

  h2{
      background: lightgray;
  }