body{
    background-image : url('https://media1.tenor.com/images/552ec189475f1d337391b02d6b0b9965/tenor.gif?itemid=13113745');
    background-repeat : no-repeat;
    background-size : cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}



.circular--landscape {
    
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 16px solid lightgray;
    border-top: 16px solid blue;
    -loading-animation: spin 1s linear infinite; 
    animation: spin 2.5s linear infinite;
 
    
    
  
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -150px;
    
  }
  
  
  @loading-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

