body{
   background-color: black; 
   
}

.nav-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  top:0;
  opacity: 0.8;
  font-family: 'Bebas Neue', cursive;
  font-size: 200%;
  margin:0;
  padding:0;
  position:fixed;
  
}

.nav-item{
  padding: 15px;
  cursor: pointer;
}

.nav-item a{
  text-align: center;
  text-decoration: none;
  color: white;
  display: center;
  font-size: 100%;

}
