header{
margin-top: 80px;
font-size: 200%;
color: white;
}

img{
    width:10%;
    border-radius: 20%;
}

.i:hover{
  background: rgb(189, 189, 189);
  border-bottom: 10px solid rgb(179, 179, 179);
  cursor: pointer;
}


body{
    background-image : url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F5%2Fa%2F2%2F235406.jpg&f=1&nofb=1');  
    background-repeat : no-repeat;
    background-size: cover;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 100%;
    margin:0;
    
  
    
}


.nav-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  top:0;
  opacity: 0.8;
  font-family: 'Bebas Neue', cursive;
  font-size: 200%;
  margin:0;
  padding:0;
  position:fixed;
  
}

.nav-item{
  padding: 15px;
  cursor: pointer;
}

.nav-item a{
  text-align: center;
  text-decoration: none;
  color: rgb(46, 45, 45);
  display: center;
  font-size: 100%;

}
  


