body {
    padding: 40px;
    font-family: 'Architects Daughter', cursive;
    background-image: url('img/chicagobackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }

 .nav-item{
   background-color: rgba(8, 164, 255, 0.747);
   border-radius: 10px;
   display: inline-block;
   color: white;
 }
  


  
  img {
    width: 100%;
    height: 100%;

  }
  h2 {
    margin-bottom: 2em;
    font-size: 3em;
    color:rgb(255, 255, 255);
    text-align: center;
    background: rgba(8, 164, 255, 0.4);
    border-radius: 10px;
    

  }

 
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  
  
 
  .myimage-listing {
    position: relative;
  }
  
  .my-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .my-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .myimage-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(8, 164, 255, 0.4);
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .myimage-listing:hover .myimage-title {
    opacity: 1;
  }
  
  .myimage-listing:hover .my-image img {
    filter: blur(2px);
  }
  

  @media (hover: none) { 
    .myimage-title {
      opacity: 1;
    }
    .my-image img {
      filter: blur(2px);
    }
  }