body {
    text-align: center;
    padding: 0 30px;
  }
  
  div {
    box-sizing: border-box;
    height: 80vmin;
    width: 95vmax;
    padding: 1vmax;
    text-align: center;
    background-color: lightblue;
    margin: 0 auto;
  }
  
  .p {
    font-size: 14px;
  }