*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

  font-family: 'Quicksand', sans-serif;
}

h1{
    text-align: center;
    margin-top:3em;
    font-size: 4rem;
    font-family: 'Quicksand', sans-serif;
    color: #F2D4C2;
    text-shadow:3px 3px 3px #A67153;
    margin: 3rem;
  
}

.nav-menu{
    /* display: flex;
    justify-content: space-around;
    text-align: center; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    padding:6rem;
    margin:1rem;
  
}

.nav-menu a{
    font-size: 2rem;
    color:#F2D4C2;
    text-decoration: none;
    position: relative;
    /* padding: 6px 12px; */
    padding:1rem 2rem;
    text-shadow:2px 2px 2px #A67153;
    text-align: center;
   


}

.nav-menu a::after{
    content:"";
    position: absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:0%;
    height:.3rem;
    background:#A67153;
    transition: all .5s east-out;
}

.nav-menu a:hover::after{
    width:100%;
   
}

img{
    /* width :20vw; */
    width: 20vw;
    display:block;
    margin: 0 auto;
    border: 3px solid #F2D4C2;

   
}



